<div class="row" ng-controller="CatalogCtrl as vm">
    <div class="col-md-8 col-md-offset-2">
        <h2>{{vm.message}}</h2>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>

        <table class="table table-responsive table-striped">
            <tr>
                <th>Name</th>
                <th>Symptom</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="med in vm.catalog">
                <td>{{med.name}}</td>
                <!--<td>{{med.symtoms.name}}</td>-->
                <td>
                    <ul>
                        <li ng-repeat="symptom in med.symptoms">
                            {{symptom.name}}
                        </li>
                    </ul>
                </td>
                <td>{{med.type}}</td>
                <td><a type="button" class="btn btn-small" ng-click="vm.deleteMedication(med.id)">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
