<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>medvault</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="./bower_components/select2/select2.css"/>-->
    <!--<link rel="stylesheet" href="./bower_components/ui-select/dist/select.min.css"/>-->
    <!--<link rel="stylesheet" href="./bower_components/select2-bootstrap-css/select2-bootstrap.min.css"/>-->
    <link rel="stylesheet" href="./bower_components/ui-select/dist/select.min.css"/>
    <link rel="stylesheet" href="./bower_components/components-font-awesome/css/font-awesome.min.css"/>

    <!--<base href="/">-->1
</head>
<body ng-app="MedVault">
<header>
    <div class="navbar-primary">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="active navbar-brand" href="#">Med Vault</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/medvault/login">Sing In</a></li>
                        <!--<li class="dropdown">-->
                        <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                        <!--aria-expanded="false">Bank <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#" th:href="@{/account/user/profile}">Online Banking</a></li>-->
                        <!--<li><a href="#" th:href="@{/account/create}">Account Set Up</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        <li><a href="#/catalog">Catalog</a></li>
                        <li><a href="#/singup">Register</a></li>
                        <li><a href="#/create/medication">Create Medication</a></li>
                        <li><a href="#/create/prescription">Create Prescription</a></li>
                        <li><a href="/">Health Vault</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
                <!--<div >-->
                <!--Hello <span sec:authentication="name">user</span>-->

                <!--</div>-->
            </div>
        </div>
    </div>
</header>
<div class="container" style="margin-top: 8%" ng-controller="HomeCtrl as vm">
    <!--<div class="container" style="margin-top: 8%">-->
    <div ng-view>

    </div>
</div>

<script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<!--<script type="text/javascript" src="./bower_components/angular-messages/angular-messages.min.js"></script>-->
<!--<script type="text/javascript" src="./bower_components/select2/select2.js"></script>-->
<!--<script src="bower_components/scania-angular-select2/src/scania.angular.select2.js"></script>-->
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>

<script type="text/javascript" src="./bower_components/ui-select/dist/select.min.js"></script>

<!--<script type="text/javascript" src="./bower_components/angular-ui-select2/src/select2.js"></script>-->
<script type="text/javascript" src="./node_modules/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>
<!--<script src="https://cdn.auth0.com/w2/auth0-6.7.min.js"></script>-->
<!--<script type="text/javascript" src="./bower_components/angular-jwt/dist/angular-jwt.min.js"></script>-->
<script type="text/javascript" src="./bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
<!--<script type="text/javascript" src="./bower_components/select2-bootstrap/lib/select2-bootstrap/"></script>-->

<script type="text/javascript" src="app/MedVaultApp.js"></script>
<script type="text/javascript" src="app/directives/ui-helper.js"></script>
<script type="text/javascript" src="app/controllers/HomeCtrl.js"></script>
<script type="text/javascript" src="./app/views/login/login-ctrl.js"></script>
<script type="text/javascript" src="./app/views/medication-catalog/catalog-ctrl.js"></script>
<script type="text/javascript" src="./app/views/register/singup-ctrl.js"></script>
<script type="text/javascript" src="./app/views/admin-create-med/create-med-ctrl.js"></script>
<script type="text/javascript" src="./app/views/admin-create-prescription/create-pres-ctrl.js"></script>
</body>
</html>


<!--//    "ui-select": "^0.14.2",-->